body {
  max-width: 100%;
  margin: 0 10px 10px 10px; 
  padding: 0;
  font-family: "Georgia", serif;
  line-height: 150%;
}
 
h1 {

  line-height: 100%;
  text-decoration: none;
}
h2 {

  line-height: 100%;
  text-decoration: none;
}

h3 a{
	text-decoration: none;
	color: #666;
}
h3 a:hover{
	text-decoration: underline;		
}
/* Поле контента на странице Главная*/
 
#pageBody {
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  overflow:hidden;
}
 
#header, h1, h2, h3 {
  font-family: Tahoma, Geneva, sans-serif;
}
 
#header {
  width: 100%;
  overflow:hidden;
  color: #000;
  background: #FEBA45;
  border-radius: 10px;
}
 
#header .inner {
  margin: 20px 0px 0px 15px;  
}
#header .inner a{
	text-decoration: none;
	color: #000;
}
 
#razdel {
  max-width: 100%;
  height: 10px;
} 
#content {
  float: left;
  width: 100%;
}
 
#content .inner {
  padding: 22px;
  color: #333;
  background: #cceeff;
  border-radius: 10px;
  overflow:hidden;
}
.imge img  {	
	border: 3px solid #cccccc;
	margin: 20px 0 0 0;
}

.zag{
	line-height: 1.0;
    font-size: 50px;
    font-style: italic;
    
}
.zag_nast{
    font-size: 20px;
    font-style: italic;
    padding: 0 0 10px 0;
}
.texthome a{
	font-size: 30px;
    text-decoration: none;
	color: #000;
}
.treble_clef{
	font-size: 30px;
    text-decoration: none;
	color: #000;
}
.text1{
	font-size: 20px;
} 
.text1 p {
              line-height: 1.5;
} 

.block{
  width: 100%;
}

/* END Поле контента на странице Главная*/



#footer {
  clear: both;
  width: 100%;
  color: #000;
  background: #FEBA45;
  border-radius: 10px;
}
 
#footer .inner {
  padding: 5px 20px;
}
#footer .inner a{
	text-decoration: none;
	color: #000;
}


/* Grid */

.grid_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.grid_texthome {
	display: grid;
	column-gap: 20px;
	row-gap: 25px;
	grid-template-columns: 80px auto;
	grid-template-rows: auto;
}

[class^="box-"] a{
	display: grid;
	font-size: 30px;
	text-decoration: none;
	color: #000;
}

[class^="box-"] {
	display: grid;
	font-size: 30px;
	text-decoration: none;
	color: #000;
}